{
  "presets": [[
    "@babel/env",
    {
      "debug": true,
      "targets": [
        "> 0.3%", // means all browsers which have number of users more than 0.3 % in the world
        "not ie > 0" // do not include ie browser
      ]
    }
    ]],
  "plugins": [
    "@babel/proposal-class-properties"
  ]
}
